@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Open Sans";
        font-weight: 400;
        src: url(/fonts/opensans/static/OpenSans-Regular.ttf);
    }
    @font-face {
        font-family: "Open Sans";
        font-weight: 700;
        src: url(/fonts/opensans/static/OpenSans-Medium.ttf);
    }
}

[x-cloak] {
    display: none;
}

.clippingProfile {
    clip-path: url(#myClipPath);
}

.cardDiv {
    background: linear-gradient(135deg, #a6633c, #391a08);
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(0%, -50%);
    box-shadow: 0 30px 50px -20px rgb(69, 31, 9);
}

@media only screen and (max-width: 760px) {
    .cardDiv {
        left: 0%
    }
}

svg.intro {
    .text {
      display: none;
    }
    &.go {
      .text {
        font-family: Arial, sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        display: block;
      }
      .text-stroke {
        fill: none;
        stroke: #3f1e0c;
        stroke-width: 2.8px;
        stroke-dashoffset: -900;
        stroke-dasharray: 900;
        stroke-linecap: butt;
        stroke-linejoin: round;
        animation: dash 2.5s ease-in-out forwards;
      }
      .text-stroke:nth-child(2) {
        animation-delay: .3s;
      }
      .text-stroke:nth-child(3) {
        animation-delay: .9s;
      }
      .text-stroke-2 {
        stroke: #eaaa84;
        animation-delay: 1.2s;
      }
      .text-stroke:nth-child(5) {
        animation-delay: 1.5s;
      }
      .text-stroke:nth-child(6) {
        animation-delay: 1.8s;
      }
    }
  }

  @keyframes dash {
    100% {
      stroke-dashoffset: 0;
    }
  }
